:root {
    --content-color: #757575;
    --accent-color: #2196f3;
    --basic-color: #212121;
    --second-color: #ffffff;
    --second-background-color: #2f303a;
    --button-background: #eeeeee;
    --bg-icon: #f5f4fa;
    --icon-link: #afb1b8;
  }